.header {
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  align-items: center;
  margin: 90px 50px;
}

.header__menu {
  font-size: 18px;
}

.header__links-list {
  display: flex;
  gap: 30px;
  list-style-type: circle;
}

.header__link {
  border-bottom: 1px solid #000;
  padding-left: 2px;
  text-decoration: none;
}

.header__link_active {
  border-bottom: none;
}

.header__links-list-item_no-bullit {
  list-style-type: none;
}

.header__logo {
  justify-self: center;
  align-self: center;
}

.header__logo-image {
  width: 135px;
  height: 110px;
}

.address {
  justify-self: end;
  box-sizing: border-box;
  margin: 0;
  /* pixel perfect */
  padding-top: 1px;
  padding-right: 2px;
  font-size: 18px;
  line-height: 135%;
}

.address a {
  border-bottom: 1px solid #000;
  text-decoration: none;
}

.cover {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 135px;
  max-height: 757px;
  padding: 165px 50px 50px;
  background-image: url('/images/cover.jpg');
  background-repeat: no-repeat;
  background-position: center;
  /* TODO: придумать, как исправить положение фона */
  background-size: cover;
}

.overlay {
  position: absolute;
  inset: 0;
  z-index: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

.cover__title {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  color: #fff;
  font-weight: 700;
  font-size: 100px;
  line-height: 115%;
  letter-spacing: 30px;
  text-transform: uppercase;
}

.aligned-text {
  display: block;
}

.aligned-text_center {
  line-height: 1.2em;
  text-align: center;
}

.aligned-text_right {
  /* TODO пока ощущается как костыль */
  line-height: 1em;
  text-align: right;
}

.letter-spacing-extended {
  letter-spacing: 60px;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.cover__description {
  position: relative;
  z-index: 1;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  justify-content: start;
  align-items: center;
  width: 100%;
}

.cover__description-text {
  grid-column: 2;
  margin-left: 30px;
  color: #fff;
  font-size: 22px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  word-spacing: 17px;
}

.bet-button {
  justify-self: end;
  border: 1px solid white;
  padding: 12px 32px;
  color: #fff;
  font-size: 22px;
  text-transform: uppercase;
  background-color: transparent;
}

.lots {
  margin: 180px 50px 0 50px;
}

.lots__heading {
  margin: 0 0 28px 40px;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  list-style: none;
}

.lots__card-list-item {
  flex: 1 0 430px;
  min-height: 450px;
}

.card-link {
  display: block;
  height: 100%;
  text-decoration: none;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 50px 40px;
  background-repeat: no-repeat;
  background-size: cover;
}

.card_type_film {
  background-image: url('/images/card-lot-01.jpg');
}

.card_type_book {
  background-image: url('/images/card-lot-02.jpg');
}

.card_type_picture {
  background-image: url('/images/card-lot-03.jpg');
}

.card__title {
  z-index: 1;
  color: #fff;
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  text-decoration-line: underline;
  text-transform: uppercase;
}

.card__text {
  z-index: 1;
  color: #fff;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
}

.lots__look-more-link {
  display: block;
  padding: 30px 40px;
  color: #000;
  font-weight: 400;
  font-size: 20px;
}

.about {
  display: grid;
  grid-template-columns: 430px 1fr;
  margin: 150px 50px 0 50px;
}

.about__logo {
  display: flex;
  justify-content: center;
  margin: 0 95px;
  border-radius: 50%;
  background-color: #000;
  aspect-ratio: 1 / 1;
}

.about__logo-image {
  display: block;
  width: 148px;
}

.about__title {
  align-self: center;
  padding-left: 24px;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
}

.about__text {
  display: flex;
  flex-direction: column;
  grid-area: 2 / 2 / 3 / 3;
  justify-content: space-between;
  gap: 25px;
  padding-top: 10px;
  padding-left: 24px;
  font-size: 20px;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin: 185px 50px 90px 50px;
}

.footer__menu {
  font-size: 18px;
  text-align: center;
}

.footer__menu-list {
  list-style: none;
}

.footer__social-list {
  display: flex;
  gap: 48px;
  list-style: none;
}

.footer__social-icon {
  height: 48px;
}

.footer__menu-link {
  border-bottom: 1px solid #000;
  text-decoration: none;
}

.footer__menu-link_active {
  border-bottom: none;
}
